<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
کنکلی
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این تمرین قصد داریم پیش‌بینی کنیم آیا کاربران بلیط خود را کنسل می‌کنند یا نه. به ازای هر کنسلی، مستربلیط باید به شرکت مسافربری جریمه پرداخت کند! پس بلیط‌های    کنسلی به معنی تحمیل هزینه به شرکت است. از این رو تشخیص دادن بلیط‌هایی که احتمال کنسلی آنان وجود دارد، به مدیریت ریسک شرکت کمک بزرگی می‌کند. 
    <br>
    حال از داده‌هایی که در اختیارتان قرار گرفته است استفاده کنید و مدلی آموزش دهید که کنسل شدن یا نشدن سفر را تشخیص دهد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیازتان را وارد کنید.
</font>
</p>

In [1]:
import pandas as pd
import numpy as np

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
مجموعه داده آموزشی شامل ۱۰۱۰۱۷ سطر است که در جدول زیر، توضیحات هر ستون آمده است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|Created|زمان ثبت بلیط|
|CancelTime|زمانی که مسافر بلیط را کنسل کرده است|
|DepartureTime|زمان حرکت|
|BillID|شناسه خرید|
|TicketID|شناسه بلیط|
|ReserveStatus|وضعیت پرداخت مشتری|
|UserID|شناسه کاربری|
|Male|آیا بلیط متعلق به زن است یا مرد|
|Price|قیمت بلیط بدون تخفیف|
|CouponDiscount|تخفیفی که شخص روی بلیط اعمال کرده است|
|From|مبدا سفر|
|To|مقصد سفر|
|Domestic|آیا سفر، داخلی است یا خارجی|
|VehicleType|جزئیات وسیله نقلیه را مشخص می‌کند|
|VehicleClass|آیا وسیله نقلیه، فرست‌کلس است یا نه|
|Vehicle|نوع وسیله نقلیه|
|HashPassportNumber_p|هش‌شده شماره پاسپورت|
|HashEmail|هش‌شده ایمیل|
|BuyerMobile|هش‌شده شماره موبایل|
|NationalCode|هش‌شده شماره‌ملی|
|TripReason|دلیل سفر|
|Cancel|آیا بلیط کنسل شده‌است یا نه|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    مجموعه داده آزمایش نیز مانند مجموعه آموزش است با این تفاوت که ستون <code>Cancel</code> که متغیر هدف مسئله است را در خود ندارد. مجموعه داده آزمایش ۴۳۲۹۳ سطر دارد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانید. نمونه‌های آموزشی در فایل <code>train_data.csv</code> و نمونه‌های آزمون که باید دسته‌ی آن‌ها را پیش‌بینی کنید در فایل <code>test_data.csv</code> ذخیره شده‌اند. اگر لازم دانستید می‌توانید به دلخواه خود بخشی از مجموعه داده آموزشی را به عنوان مجموعه داده اعتبارسنجی نیز جدا کنید.
</font>
</p>

In [42]:
train_data = pd.read_csv('../data/train_data.csv', parse_dates=['Created','DepartureTime'])
train_data

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-07-26 13:33:20.457,NaN,2022-07-26 16:30:00,38428546,7445571.0,3,NaN,True,1180000.0,0.0,...,1,VIPمانیتوردار-شارژراختصاصی تخت شو مارال (جدید)...,True,Work,Bus,0,NaN,NaN,302222356019,330024570
1,2022-10-27 23:07:01.837,2022-10-27 23:26:39.070,2022-10-29 09:45:00,39768762,7762719.0,5,NaN,False,1050000.0,0.0,...,1,classicus 2+2,True,Int,Bus,1,NaN,NaN,900764168521,995520696
2,2022-09-12 11:01:13.607,NaN,2022-10-03 18:35:00,39128001,2327596.0,5,800398.0,False,4674000.0,0.0,...,1,فوکر 100,False,Int,Plane,0,NaN,1c44d7a76b52341fa12dcfa993138576befcc9ebf01d14...,749804783291,979382950
3,2022-08-08 17:43:35.840,NaN,2022-08-08 22:30:00,38606546,7495440.0,3,NaN,True,1200000.0,0.0,...,1,VIPدرسا+مانیتوردار+شارژراختصاصی+پذیرایی,True,Work,Bus,0,NaN,NaN,781396205677,911237229
4,2022-11-01 15:12:56.823,NaN,2022-11-03 11:30:00,39822185,2356902.0,5,NaN,True,6222000.0,0.0,...,1,NaN,False,Work,Plane,0,NaN,bb38b345aec02255e31d178492907175c5984f2a1f5b59...,524576220177,727496008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,2022-10-27 21:41:35.803,NaN,2022-11-05 20:15:00,39767774,3082282.0,2,NaN,False,7200000.0,0.0,...,1,5ستاره بيزينس سلامت فدك,NaN,Int,Train,0,NaN,NaN,395081863564,789320493
101013,2022-09-24 15:51:11.993,NaN,2022-10-21 09:15:00,39319207,3026516.0,2,151423.0,False,4292000.0,0.0,...,1,4ستاره4تخته سپهر,NaN,Int,Train,0,NaN,3f28ed65a16d629747e4d27fab100b2b082fcbdf7ec831...,130026405332,866503410
101014,2022-08-12 13:46:20.480,NaN,2022-08-12 23:59:00,38653461,7508988.0,3,NaN,True,1320000.0,0.0,...,1,VIP 2+1 / مانیتوردار / سیستم تهویه مطبوع / تخ...,True,Int,Bus,0,NaN,NaN,784949357488,881677039
101015,2022-06-20 15:15:37.780,NaN,2022-06-25 10:10:00,37880627,1057205.0,5,641744.0,True,13000000.0,0.0,...,1,NaN,False,Work,Plane,0,NaN,750690ca99468f159eff6ad928cec4339b089af8c2e6dc...,766602541733,403505466
101016,2022-07-25 00:25:14.170,NaN,2022-07-25 21:00:00,38408696,7439771.0,3,857274.0,True,2150000.0,0.0,...,1,MAN VIP 2+1,True,Work,Bus,0,NaN,NaN,899439800471,593217954

In [43]:
test_data = pd.read_csv('../data/test_data.csv', parse_dates=['Created','DepartureTime'])
test_data

,Created,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,From,To,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-07-08 12:04:46.290,2022-08-16 23:59:00,38166794,2890395.0,2,NaN,False,2043000.0,0.0,مشهد,تهران,1,3 ستاره 6 تخته پارسي,NaN,Int,Train,NaN,NaN,419509763088,660703096
1,2022-09-30 14:18:23.487,2022-09-30 23:59:00,39424175,7669420.0,3,NaN,False,1220000.0,0.0,تهران,اصفهان,1,V I P,True,Int,Bus,NaN,NaN,935955347521,960594437
2,2022-05-15 10:52:01.293,2022-06-06 17:40:00,37336619,2783057.0,2,800538.0,True,2132000.0,0.0,مشهد,تهران,1,4ستاره 4تخته سبز نوين,NaN,Int,Train,NaN,NaN,428059757595,854730165
3,2022-10-06 02:55:53.723,2022-10-14 19:45:00,39507715,7691289.0,5,950983.0,False,520000.0,0.0,تهران,سمنان,1,اسکانیا,True,Work,Bus,NaN,012dca1b2070c32e03238f49aa8f12a1a9ce580f8b1368...,515601565031,850531769
4,2022-03-12 13:46:40.300,2022-03-12 19:30:00,36422079,6901256.0,3,NaN,True,1180000.0,0.0,ارومیه,کرمانشاه,1,اسکانیا تک صندلی,True,Work,Bus,NaN,NaN,633910237635,893186872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43288,2022-09-25 15:33:09.793,2022-09-25 20:30:00,39338188,7647177.0,3,NaN,True,2480000.0,0.0,تهران,مشهد (خراسان ),1,وای پی تخت شو ۲۵نفره,True,Int,Bus,NaN,7091c8c24f3f57b98561de5d9a874cb91c3fd44371930a...,45595252975,158174797
43289,2022-07-16 19:58:15.300,2022-07-18 21:45:00,38298325,7406150.0,3,NaN,True,1330000.0,0.0,اصفهان,شیراز,1,اسکانیا درسا(مانیتور اختصاصی),True,Work,Bus,NaN,NaN,194871920550,384954737
43290,2022-06-16 18:14:40.673,2022-06-17 17:30:00,37823306,7274287.0,3,NaN,True,1290000.0,0.0,تهران,رودسر,1,مارال 25 نفره VIP,True,Int,Bus,NaN,NaN,687841588584,648554818
43291,2022-07-23 13:48:45.330,2022-08-23 21:05:00,38386540,2914007.0,2,724274.0,True,2810500.0,0.0,مشهد,تهران,1,4 ستاره 4 تخته غزال,NaN,Int,Train,NaN,a78e5ce63b34517a2c4e1d3ccd474241abe1993b49905c...,976918931561,779144272
43292,2022-08-14 11:04:39.597,2022-08-15 22:00:00,38674829,7514844.0,3,610090.0,True,1700000.0,0.0,خرم آباد (لرستان ),کرج,1,مان 25 نفره VIP,True,Int,Bus,NaN,NaN,251061924518,146816459

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال شما می‌توانید از هر تکنیک پیش‌پردازش/مهندسی ویژگی که در فصل‌های گذشته آموختید، استفاده کنید.
    <br>
    تکنیک‌هایی که استفاده می‌کنید به شکل مستقیم مورد ارزیابی توسط سامانه داوری قرار <b>نمی‌گیرند.</b> بلکه همه آن‌ها در دقت مدل شما تاثیر خواهند گذاشت؛ بنابراین هر چه پیش‌پردازش/مهندسی ویژگی بهتری انجام دهید تا دقت مدل بهبود پیدا کند، امتیاز بیشتری از این سوال کسب خواهید کرد.
</font>
</p>

In [5]:
# do some preprocessing 
train_data.isna().sum()

Created                      0
CancelTime               85705
DepartureTime                0
BillID                       0
TicketID                     0
ReserveStatus                0
UserID                   58515
Male                         0
Price                        0
CouponDiscount               0
From                         0
To                           0
Domestic                     0
VehicleType               7678
VehicleClass             38351
TripReason                   0
Vehicle                      0
Cancel                       0
HashPassportNumber_p    100155
HashEmail                58002
BuyerMobile                  0
NationalCode                 0
dtype: int64

In [44]:
def My_prepro(train_data, test_data, x):
    if x in train_data.columns:
        train_data = train_data.drop(x, axis=1)
    if x in test_data.columns:
        test_data = test_data.drop(x, axis=1)
    return train_data, test_data

# Assuming train_data and test_data are already defined

prepro_cols = ['CancelTime', 'BillID', 'TicketID', 'UserID', 'From', 'To', 'VehicleType', 'VehicleClass', 'HashPassportNumber_p', 'HashEmail', 'BuyerMobile', 'NationalCode']

for col in prepro_cols:
    train_data, test_data = My_prepro(train_data, test_data, col)

In [45]:
from datetime import datetime

def days_between(d1, d2):
    #d1 = datetime.strptime(d1, "%Y-%m-%d")
    #d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1))

train_data['ndays']= days_between(train_data['Created'],train_data['DepartureTime'])
test_data['ndays']= days_between(test_data['Created'],test_data['DepartureTime'])

In [46]:
train_data['ndays']=train_data['ndays'].dt.days
test_data['ndays']=test_data['ndays'].dt.days

train_data

,Created,DepartureTime,ReserveStatus,Male,Price,CouponDiscount,Domestic,TripReason,Vehicle,Cancel,ndays
0,2022-07-26 13:33:20.457,2022-07-26 16:30:00,3,True,1180000.0,0.0,1,Work,Bus,0,0
1,2022-10-27 23:07:01.837,2022-10-29 09:45:00,5,False,1050000.0,0.0,1,Int,Bus,1,1
2,2022-09-12 11:01:13.607,2022-10-03 18:35:00,5,False,4674000.0,0.0,1,Int,Plane,0,21
3,2022-08-08 17:43:35.840,2022-08-08 22:30:00,3,True,1200000.0,0.0,1,Work,Bus,0,0
4,2022-11-01 15:12:56.823,2022-11-03 11:30:00,5,True,6222000.0,0.0,1,Work,Plane,0,1
...,...,...,...,...,...,...,...,...,...,...,...
101012,2022-10-27 21:41:35.803,2022-11-05 20:15:00,2,False,7200000.0,0.0,1,Int,Train,0,8
101013,2022-09-24 15:51:11.993,2022-10-21 09:15:00,2,False,4292000.0,0.0,1,Int,Train,0,26
101014,2022-08-12 13:46:20.480,2022-08-12 23:59:00,3,True,1320000.0,0.0,1,Int,Bus,0,0
101015,2022-06-20 15:15:37.780,2022-06-25 10:10:00,5,True,13000000.0,0.0,1,Work,Plane,0,4
101016,2022-07-25 00:25:14.170,2022-07-25 21:00:00,3,True,2150000.0,0.0,1,Work,Bus,0,0

In [47]:
from sklearn.preprocessing import LabelEncoder

lable_encoder = LabelEncoder()


def My_LabelEncoder(x):
    train_data[x]= lable_encoder.fit_transform(train_data[x])
    test_data[x]= lable_encoder.transform(test_data[x])
categorical_cols = ['Male','Vehicle','TripReason']
for i in categorical_cols:
    My_LabelEncoder(i)
    
 

# do some preprocessing 
trip_months= [6, 7, 8, 9]
train_data['DepartureTime_day']= train_data['DepartureTime'].dt.day
train_data['DepartureTime_month']= train_data['DepartureTime'].dt.month
train_data['DepartureTime_year']= train_data['DepartureTime'].dt.year

train_data['is_vacation']= [month in trip_months for month in train_data['DepartureTime_month']]


test_data['DepartureTime_day']= test_data['DepartureTime'].dt.day
test_data['DepartureTime_month']= test_data['DepartureTime'].dt.month
test_data['DepartureTime_year']= test_data['DepartureTime'].dt.year

test_data['is_vacation']= [month in trip_months for month in test_data['DepartureTime_month']]

test_data = test_data.drop('DepartureTime', axis =1)
train_data = train_data.drop('DepartureTime', axis =1)

test_data = test_data.drop('Created', axis =1)
train_data = train_data.drop('Created', axis =1)
train_data

,ReserveStatus,Male,Price,CouponDiscount,Domestic,TripReason,Vehicle,Cancel,ndays,DepartureTime_day,DepartureTime_month,DepartureTime_year,is_vacation
0,3,1,1180000.0,0.0,1,1,0,0,0,26,7,2022,True
1,5,0,1050000.0,0.0,1,0,0,1,1,29,10,2022,False
2,5,0,4674000.0,0.0,1,0,2,0,21,3,10,2022,False
3,3,1,1200000.0,0.0,1,1,0,0,0,8,8,2022,True
4,5,1,6222000.0,0.0,1,1,2,0,1,3,11,2022,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,2,0,7200000.0,0.0,1,0,3,0,8,5,11,2022,False
101013,2,0,4292000.0,0.0,1,0,3,0,26,21,10,2022,False
101014,3,1,1320000.0,0.0,1,0,0,0,0,12,8,2022,True
101015,5,1,13000000.0,0.0,1,1,2,0,4,25,6,2022,True
101016,3,1,2150000.0,0.0,1,1,0,0,0,25,7,2022,True

In [50]:
mapping = {False: 0,
           True : 1}

train_data['is_vacation'] = train_data['is_vacation'].map(mapping)
test_data['is_vacation'] = test_data['is_vacation'].map(mapping)


test_data

,ReserveStatus,Male,Price,CouponDiscount,Domestic,TripReason,Vehicle,ndays,DepartureTime_day,DepartureTime_month,DepartureTime_year,is_vacation
0,2,0,2043000.0,0.0,1,0,3,39,16,8,2022,1
1,3,0,1220000.0,0.0,1,0,0,0,30,9,2022,1
2,2,1,2132000.0,0.0,1,0,3,22,6,6,2022,1
3,5,0,520000.0,0.0,1,1,0,8,14,10,2022,0
4,3,1,1180000.0,0.0,1,1,0,0,12,3,2022,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43288,3,1,2480000.0,0.0,1,0,0,0,25,9,2022,1
43289,3,1,1330000.0,0.0,1,1,0,2,18,7,2022,1
43290,3,1,1290000.0,0.0,1,0,0,0,17,6,2022,1
43291,2,1,2810500.0,0.0,1,0,3,31,23,8,2022,1
43292,3,1,1700000.0,0.0,1,0,0,1,15,8,2022,1

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدل‌سازی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال که داده را پاکسازی کرده و احتمالا ویژگی‌هایی را به آن افزوده یا از آن حذف کرده‌اید، وقت آن است که مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
    <br>
    بر خلاف سایر تمرین‌های کالج، در این تمرین شما مجاز هستید از هر مدلی که آموخته‌اید استفاده کنید. به عبارت بهتر، هدف این سوال پیش‌بینی هرچه بهتر متغیر هدف مسئله است. انتظار ما این است که نحوه کار با کتابخانه‌های یادگیری ماشین را در حدی آموخته باشید که بتوانید با بهترین عملکرد، مسئله را حل کنید!
</font>
</p>

In [51]:
# modeling
# modeling 
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier

model = AdaBoostClassifier(estimator=RandomForestClassifier(n_estimators=2),n_estimators=10,random_state=20,learning_rate=1) 


x_train =train_data.drop(['Cancel'] , axis = 1)
model.fit(x_train.to_numpy(), train_data['Cancel'])

AdaBoostClassifier(estimator=RandomForestClassifier(n_estimators=2),
                   learning_rate=1, n_estimators=10, random_state=20)

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    معیاری که برای ارزیابی عملکرد مدل انتخاب کرده‌ایم، <code>f1_score</code> نام دارد.
    <br>
    این معیار، سنجه ارزیابی کیفیت مدل شماست. به عبارت بهتر در سامانه داوری هم از همین معیار برای نمره‌دهی استفاده شده است.
    <br>
    پیشنهاد می‌شود با توجه به این معیار، عملکرد مدل خود را بر روی مجموعه داده آموزش یا اعتبارسنجی ارزیابی کنید.
</font>
</p>

In [52]:
# evaluate model
from sklearn.metrics import f1_score, classification_report, confusion_matrix



y_pred= model.predict(x_train.to_numpy())
prediction = f1_score(train_data['Cancel'], y_pred, pos_label=1)
prediction

0.9961703381231384

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazir" size=3>
 جهت کسب امتیاز کامل نیاز است تا پاسخ شما حداقل امتیاز <code>95%</code> را با توجه به معیار معرفی‌شده کسب نماید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    پس از مهندسی ویژگی و مدلسازی، الگوریتمی دارید که می‌تواند شما را از متغیرهای مستقل به متغیر هدف برساند.
    <br>
    از این مدل برای پیش‌بینی نمونه‌های موجود در داده تست استفاده کنید و نتایج را در قالب جدول (<code>dataframe</code>) زیر آماده کنید.
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|------|---|
|Cancel|آیا بلیط کنسل می‌شود یا نه|
    
</font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اسم دیتافریم باید <code>submission</code> باشد؛ در غیر این صورت، سامانه داوری نمی‌تواند تلاش‌ شما را ارزیابی کند.
    <br>
    این دیتافریم تنها شامل ۱ ستون با اسم <i>Cancel</i> است و ۴۳۲۹۳ سطر دارد.
    <br>
    به ازای هر سطر موجود در دیتافریم <i>test</i> شما باید یک مقدار پیشبینی شده داشته باشید.
    <br>
    جدول زیر، ۵ سطر ابتدایی دیتافریم <code>submission</code> را نشان می‌دهد. البته در جواب شما، مقادیر ستون <i>Cancel</i> ممکن است متفاوت باشد.
</font>
</p>

<div style="text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
||Cancel|
|----|-----|
|0|0|
|1|0|
|2|1|
|3|1|
|4|0|

</font>
</div>

In [53]:
# predict test samples

submission = pd.DataFrame()
submission['Cancel']=model.predict(test_data.to_numpy())

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [54]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)
            
submission.to_csv('submission.csv', index=False)
file_names = ['canceli.ipynb', 'submission.csv']
compress(file_names)

File Paths:
['canceli.ipynb', 'submission.csv']